<div class="pull-left primary">
    <i *ngIf="grid" aria-hidden="true" [ngClass]="tableViewClass" (click)="toggleView(false)"></i>
    <i *ngIf="!grid" aria-hidden="true" [ngClass]="gridViewClass" (click)="toggleView(true)"></i>
</div>
<div class="float-right">
    <app-angular4-table-column-selector (selectColumns)="setTableColoumns($event)" [defaultColumns]="defaultColumns" [tableColumns]="tableColumns"
        [selectedColoumns]="selectedColoumns" [columnsIconClass]="columnsIconClass"></app-angular4-table-column-selector>
</div>
<br>
<table *ngIf="!grid" [ngClass]="tableClass">
    <thead [ngClass]="tableHeaderClass">
        <tr *ngIf="sort">
            <th *ngIf="indexColumn">#</th>
            <th *ngFor="let column of selectedColoumns" [innerText]="column | splitandtitle" [Angular4TableColumnSort]="column" [columnSortAscIconClass]="columnSortAscIconClass" [columnSortDescIconClass]="columnSortDescIconClass"></th>
        </tr>
        <tr *ngIf="!sort">
            <th *ngIf="indexColumn">#</th>
            <th *ngFor="let column of selectedColoumns" [innerText]="column | splitandtitle"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tableData, let i = index" (click)="selectCallBack(data)">
            <th *ngIf="indexColumn" [innerText]="i + 1"></th>
            <td *ngFor="let column of selectedColoumns" [innerText]="column | chainedattribute : data "></td>
        </tr>
    </tbody>
</table>
<div *ngIf="grid" class="row">
    <div class="alert alert-primary col-md-3 col-sm-4" *ngFor="let data of tableData, let i = index">
        <div class="card-body">
            <p *ngFor="let column of selectedColoumns">
                <b>{{column | splitandtitle}} : </b>{{column | chainedattribute : data }}</p>
        </div>
    </div>
</div>
<div *ngIf="tableData.length === 0" class="alert alert-danger">No records available.</div>
<br>
<div class="float-right">
    <app-angular4-pagination (loadData)="loadTableData($event)" [total]="total" [pageBy]="pageBy"></app-angular4-pagination>
</div>