<div class="select-table-rows">
    <b>Select Number of Rows to be displayed in the Table</b>
    <select (change)="setTableRows($event)">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
    </select>
</div>
<app-angular4-table (loadData)="loadCustomers($event)" name="customer" [pageBy]="pageBy" [tableColumns]="customersColumns"
    [tableData]="customers" [total]="total"></app-angular4-table>